In [2]:
import pandas as pd
drinks=pd.read_csv("http://bit.ly/drinksbycountry")
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

# Changing Datatype of 'beer_servings' column to float

In [7]:
drinks['beer_servings']=drinks.beer_servings.astype(float)
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

# Changing Datatype while reading the data

In [8]:
drinks1=pd.read_csv("http://bit.ly/drinksbycountry",dtype={'beer_servings':float})
drinks1.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [11]:
data=pd.read_csv("http://bit.ly/imdbratings",nrows=5)
data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [13]:
data.genre.str.contains('Crime')

0     True
1     True
2     True
3    False
4     True
Name: genre, dtype: bool

In [14]:
data.genre.str.contains('Crime').astype(int)

0    1
1    1
2    1
3    0
4    1
Name: genre, dtype: int32