# Reading only 2 columns of Data

In [2]:
import pandas as pd
data=pd.read_csv("http://bit.ly/uforeports")
data.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [3]:
data=pd.read_csv("http://bit.ly/uforeports",usecols=['City','State'])
data.columns

Index(['City', 'State'], dtype='object')

## Fastets way to read Data set

In [4]:
data=pd.read_csv("http://bit.ly/uforeports",nrows=3)
data

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

##### How do dataframes and series work with regard to select individual entries and iteration (for x in userdata:)

In [6]:
for c in data.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [7]:
for index,row in data.iterrows():
    print(index,row.City,row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO