In [2]:
import pandas as pd
data=pd.read_csv("Aadhar.csv")
data.head()

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1

In [3]:
data.columns

Index(['Registrar', 'Enrolment Agency', 'State', 'District', 'Sub District',
       'Pin Code', 'Gender', 'Age', 'Aadhaar generated', 'Enrolment Rejected',
       'Residents providing email', 'Residents providing mobile number'],
      dtype='object')

In [5]:
data.rename(columns={'Registrar':'Register','Pin Code':'PinCode'})

,Register,Enrolment Agency,State,District,Sub District,PinCode,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1
5,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Pindra,221101,M,14,1,0,0,1
6,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Varanasi,221001,M,9,1,0,0,1
7,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Varanasi,221002,M,4,1,0,0,1
8,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Varanasi,221002,M,10,0,1,0,1
9,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Varanasi,221002,M,19,1,0,0,1
10,Allahabad Bank,Vedavaag Systems Limited,Uttar Pradesh,Bara Banki,Nawabganj,225301,M,8,1,0,0,0
11,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Assam,Marigaon,Bhuragaon,782121,M,22,1,0,0,1
12,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Bihar,Gopalganj,Vijayeepur,841508,M,26,1,0,0,1
13,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587114,M,27,1,0,0,1
14,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587155,F,2,1,0,0,1
15,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587155,M,67,1,0,0,1
16,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587201,F,32,1,0,0,1
17,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587203,M,27,1,0,0,1
18,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587206,F,40,1,0,0,0
19,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587206,M,28,1,0,0,1
20,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Badami,587206,M,44,1,0,0,1
21,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Bagalkot,587102,M,56,0,1,0,1
22,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Bagalkot,587207,M,6,1,0,0,1
23,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Bagalkot,587207,M,73,0,1,0,1
24,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Hungund,587118,F,6,1,0,0,1
25,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Hungund,587118,F,36,1,0,0,1
26,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Hungund,587124,F,74,1,0,0,1
27,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Hungund,587124,M,33,1,0,0,1
28,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Hungund,587125,F,6,1,0,0,1
29,Atalji Janasnehi Directorate Government of Ka...,Atalji Janasnehi Directorate GOK,Karnataka,Bagalkot,Hungund,587125,F,22,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
440788,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,East Singhbhum,Patamda,832105,M,3,1,0,0,0
440789,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,East Singhbhum,Patamda,832105,M,4,1,0,0,0
440790,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Giridih,Deori,815314,F,0,1,0,0,1
440791,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Gumla,Sisai,835324,M,1,1,0,0,0
440792,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Jamtara,815351,F,1,1,0,0,1
440793,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Jamtara,815351,M,1,3,0,0,1
440794,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Jamtara,815351,M,3,1,0,0,0
440795,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Kundahit,815351,F,0,0,1,0,0
440796,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Kundahit,815351,F,1,0,1,0,0
440797,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Kundahit,815351,M,0,1,0,0,0
440798,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Kundahit,815351,M,2,1,0,0,0
440799,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Kundahit,815354,M,1,2,0,0,0
440800,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Kundahit,815354,M,3,2,0,0,0
440801,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Kundahit,815359,M,0,1,0,0,0
440802,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Nala,815355,M,0,1,0,0,0
440803,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Narayanpur,815352,F,0,0,4,0,0
440804,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Narayanpur,815352,F,1,0,1,0,1
440805,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Narayanpur,815352,F,2,0,1,0,0
440806,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Narayanpur,815352,F,3,0,2,0,0
440807,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Jamtara,Narayanpur,815352,F,4,0,1,0,0
440808,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Latehar,Garu,829206,M,0,1,0,0,0
440809,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Lohardaga,Bhandra,835302,M,0,1,0,0,0
440810,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Lohardaga,Bhandra,835302,M,2,3,0,0,0
440811,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Manatu,822123,M,0,1,0,0,0
440812,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,0,5,0,0,3
440813,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,1,3,0,0,1
440814,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,2,1,0,0,1
440815,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,3,3,0,0,1
440816,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,4,1,0,0,0
440817,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Ranchi,Ranchi,834002,F,3,1,0,0,1

In [8]:
data_col=['Register','Enroment_Agency','State','District','Sub_District','Pin_code','Gender','Age','Status','Rjected','Email','Number']
data.columns=data_col
data.head()

,Register,Enroment_Agency,State,District,Sub_District,Pin_code,Gender,Age,Status,Rjected,Email,Number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1

# Deleting Columns

In [13]:
data.drop('Rjected',axis=1,inplace=True)
data.head()

,Register,Enroment_Agency,State,District,Sub_District,Pin_code,Gender,Age,Status,Email,Number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,1

# Deletting Multiple Columns

In [19]:
d=['Enroment_Agency']
data.drop(d,axis=1,inplace=True)  # or data.drop(['Email','Name'])
data.head()

,Register,State,District,Sub_District,Pin_code,Gender,Age,Status
0,Allahabad Bank,Uttar Pradesh,Allahabad,Meja,212303,F,7,1
1,Allahabad Bank,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1
2,Allahabad Bank,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1
3,Allahabad Bank,Uttar Pradesh,Shamli,Shamli,247775,M,6,1
4,Allahabad Bank,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1

# Deleting Rows

In [20]:
data.drop(0,axis=0,inplace=True)
data.head()

,Register,State,District,Sub_District,Pin_code,Gender,Age,Status
1,Allahabad Bank,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1
2,Allahabad Bank,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1
3,Allahabad Bank,Uttar Pradesh,Shamli,Shamli,247775,M,6,1
4,Allahabad Bank,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1
5,Allahabad Bank,Uttar Pradesh,Varanasi,Pindra,221101,M,14,1

# Deleting multile Rows

In [25]:
data.drop([3,4],axis=0,inplace=True)  #it will delete 3,4 rows 
data.head()

,Register,State,District,Sub_District,Pin_code,Gender,Age,Status
1,Allahabad Bank,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1
2,Allahabad Bank,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1
5,Allahabad Bank,Uttar Pradesh,Varanasi,Pindra,221101,M,14,1
6,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221001,M,9,1
7,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221002,M,4,1

In [26]:
data.head()

,Register,State,District,Sub_District,Pin_code,Gender,Age,Status
1,Allahabad Bank,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1
2,Allahabad Bank,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1
5,Allahabad Bank,Uttar Pradesh,Varanasi,Pindra,221101,M,14,1
6,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221001,M,9,1
7,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221002,M,4,1

In [28]:
data.drop([1,2],axis=0,inplace=True)
data.head()

,Register,State,District,Sub_District,Pin_code,Gender,Age,Status
5,Allahabad Bank,Uttar Pradesh,Varanasi,Pindra,221101,M,14,1
6,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221001,M,9,1
7,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221002,M,4,1
8,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221002,M,10,0
9,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221002,M,19,1

In [31]:
data.drop([5,8],inplace=True)

In [32]:
data.head()

,Register,State,District,Sub_District,Pin_code,Gender,Age,Status
6,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221001,M,9,1
7,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221002,M,4,1
9,Allahabad Bank,Uttar Pradesh,Varanasi,Varanasi,221002,M,19,1
10,Allahabad Bank,Uttar Pradesh,Bara Banki,Nawabganj,225301,M,8,1
11,Atalji Janasnehi Directorate Government of Ka...,Assam,Marigaon,Bhuragaon,782121,M,22,1